* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    max-width: 1920px; 
    background-size: 100%;
    background-image: url(img/yule-background.png);
    
}

.title-image {
    width: 40vw;
    height: auto;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button-wrapper {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button {
    width: 200px;
    height: 70px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #3b2e1e;
    background-color: #907a48;
}

.button:hover {
    background-color:#d4bf88;
    transition: 0.7s;
    cursor: pointer;
}

.yule-image {
    height: 40px;
    width: 40px;
}

.speech-bubble-wrapper {
    margin: 0;
    position: absolute;
    top: 53%;
    left: 53%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 200;
}

.speech-bubble {
    margin: auto;
    width: 100px;
    height: 10px;
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 900;
    font-family: arial;
    position:relative;
    border-radius: 10px;
}

.speech-bubble::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid #fff;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    left: 19px;
    bottom: -19px;
}